.nav{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #404D38;
    justify-content: center;
    justify-content: flex-end;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    padding-right: 15%;
    li a{
        list-style-type: none;
        text-decoration: none;
        padding: 15px;
        font-size: 25px;
        color: #FDFEFE;
    }
}